@value primary, secondary, ternary, quaternary, quinary, ultraLightGray, primaryShade, lightGray, senary, darkishGray, moderateGray from '../helpers/colors.css';

.screenContainer {
    margin-top: 2rem;
}

.toolbar {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.toolbarButton {
    margin-top: 1rem;
    display: flex;
}

/* table */
.studentTable {
    padding: 1rem;
}

.tableHeader th {
    background-color: rgb(244, 246, 248);
    border: none;
    font-weight: 500;
    color: rgb(99, 115, 129);
}

.tableHeader th:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
}
.tableHeader th:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
}

.tableBody td {
    border: none;
}

.tableAvatarColumn {
    width: 1rem;
}


/* list */

.studentCard {
    width: 100%;
}

.studentCard:not(:last-child) {
    /*margin-bottom: 0.5rem;*/
    margin-bottom: 1rem;
}

.studentCardTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*margin-bottom: 0.5rem;*/
}

.studentCardTitle h5 {
    margin: 0;
}

.studentCardHeaderButtonContainer {
    flex: 1;
}

.studentCardHeaderButtonContainer div {
    float: right;
    color: primary;
}

.submissionItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}