@value primary, secondary, ternary, quaternary, quinary, senary, senaryShade, pinkishGray, ultraLightGray, primaryShade, lightGray, darkishGray, moderateGray from '../helpers/colors.css';



/* templates */
.templateCard {
    min-height: 5rem;
    margin-bottom: 1rem;
}

.submissionCardTitleWithButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardBodyContent {
    margin-top: 1rem;
}

.cardBodyContentRow {
    margin-bottom: 0.5rem;
}

.collapseIcon {
    transform: rotate(0deg);
    transition: transform .1s ease-in-out;
}

.collapseIconRotated {
    transform: rotate(180deg);
}


/* feedback */

.sendFeedbackContainer {
    position: sticky;

    top: 3rem;
    right: 0;

    margin-top: 1rem;
    padding: 5rem 0 0 0;

    min-height: 20rem;

    display: flex;
    flex-direction: column;

    width: 100%;
}

.sendFeedbackCard {
    flex: 1;
    height: 100%;
}

.buttonGroup {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.buttonGroup > * {
    flex: 1;
}