.studentName {
    margin-right: 15%;
}

.studentButton {
    margin: 10px;
}

.feedbackCard {
    padding: 1rem 1rem;
}

.container {
    width: 100%;
    padding: 2rem 2rem;
}

.spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    color: dodgerblue;
}