@value primary, secondary, ternary, quaternary, quinary, senary, senaryShade, pinkishGray, ultraLightGray, primaryShade, lightGray, darkishGray, moderateGray from '../helpers/colors.css';

.container {
    width: 100%;
    position: relative;
    margin-top: 5rem;
    min-height: calc(100% - 5rem);
    background-color: ultraLightGray;

    display: flex;
    flex-direction: row;

    box-sizing: border-box;
}

.container > * {
    box-sizing: border-box;
}

.controlBarContainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    padding: 1rem 2rem 1rem 6rem;

    z-index: 60;

    height: 5rem;
    border-bottom: 1px solid #dfdfdf;
}


/* control bar */
.controlBarBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.controlBarButton {
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .1s ease-out;
    margin: 1rem 0;
}

.controlBarButton:hover {
    background-color: primaryShade;
    color: white;
}




/* rubric panel */
.rubricPanelContainer {
    width: 100%;
    /*border-right: 1px solid #dfdfdf;*/
    /*margin: 0.5rem 0.25rem 0.5rem 0.5rem;*/
    padding: 0.5rem;
}

.panelCard {
    min-height: 100%;
}

.gradingCardTitle {
    margin-bottom: 0.5rem;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gradingCardTitle h4 {
    margin: 0;
}

.gradingCardTitleWithButton {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
}

.gradingCardTitleButton {
    color: primary;
}

.outlineContainer {
    height: 100%;
    overflow: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    /*margin-top: 1rem;*/

    flex: 1;
    display: flex;
    flex-direction: column;
}

.outlineContainer ul {
    padding: 0;
    list-style-type: none;
    flex: 1;
}

/* blocks of elements */
.outlineGroup {
    transition: all 1s ease-out;
}

.outlineGroupCollapsed {
    display: none;
}

/* elements */
.outlineElementContainer {
    height: 50px;
    border-left: 4px solid transparent;
}

.outlineElementContainerSelected {
    border-left: 4px solid primary;
}

.outlineElement {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    border-top: 1px solid #dfdfdf;
    padding: 0.5rem 0.5rem 0.5rem 0;

    position: relative;
}

.outlineElementLeft {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.outlineElementLeftBlock {
    /*font-size: 1.1rem;*/
}

.outlineElementRight {
    /*visibility: hidden;*/
    margin-left: 0.5rem;
}

.outlineElement:hover .outlineElementRight {
    /*visibility: visible;*/
}

.outlineElementText {

}

.outlineElementIcon {
    margin-right: 0.3rem;

    transform: rotate(0deg);
    transition: transform .1s ease-in-out;
}

.outlineElementIconGraded {
    color: primary;
}

.outlineElementIconRotated {
    transform: rotate(90deg);
}

























/* grading panel */
.gradingPanelContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

/* grade editor */
.gradeEditorContainer {
    flex: 1;
}

.gradingEditorCard {
    height: 100%;
}

.gradeEditorHeader h3 {
    margin: 0;
}

.gradeEditorCard {
    margin-left: 0.5rem;
    min-height: 100%;
}

.gradeEditorContentContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gradeEditorCardItem {
    margin-bottom: 1rem;
}

.gradeEditorCardItem input, .gradeEditorCardItem textarea {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;

    cursor: text;
    padding: 6px 12px;

    width: 100%;

    margin-top: 0.3rem;
}

.gradeEditorCardItem:nth-child(2) {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gradeEditorCardItem:nth-child(2) textarea {
    /*height: 100%;*/
    /*box-sizing: border-box;*/
    flex: 1;
}

.gradeEditorCardFooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.gradeEditorGradedContainer {
    text-align: center;
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.gradeEditorGradedContainer > * {
    width: 70%;
}

.gradeEditorGradedContainer h6 {
    margin: 1rem 0 0 0;
}

.gradeEditorGradedContainer > div:not(:last-child) {
    margin-bottom: 1rem;
}

.gradeEditorGradedIcon {
    color: primary;
}

.gradeEditorGradedDescription {
    margin-bottom: 1rem;
}

.gradeEditorGradedExpand {
    cursor: pointer;
    margin-left: 0.5rem;
    color: primary;
}

.gradeEditorGradedClose {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}


/* grade viewer */
.gradeViewerContainer {
    flex: 1;
    margin-top: 0.5rem;
}

.gradeViewerBody {
    display: flex;
    flex-direction: column;
}

.gradeViewerRow {
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;

    border: 1px solid moderateGray;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.gradeViewerRowActive {
    border: 1px solid primary;
}
.gradeViewerRowActive .gradeViewerRowIcon {
    color: primary;
}


.gradeViewerRowIcon {
    margin-right: 1rem;
}

.gradeViewerRowContent {

}

.gradeViewerRowExplanation {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.gradeViewerNotGraded {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.gradeViewerNotGraded h6 {
    margin: 1rem 0 0 0 ;
}















/* panel on the right */
.rightsidePanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

/* issues */
.issuesContainer {
    flex: 3;
}

/* final grade */
.finalGradeContainer {
    margin-top: 0.5rem;
    flex: 1;
}








/* flags */

.flagModalFlagView {
    display: inline;
}

.flagModalFlagViewH6 {
    display: inline;
}

.flagModalFlagViewButtonGroup {
    float: right;
}
.flagModalFlagViewButton {
    margin-left: 0.5rem;
}

