@value primary, secondary, ternary, quaternary, quinary, senary, senaryShade, pinkishGray, ultraLightGray, primaryShade, lightGray, darkishGray, moderateGray from '../helpers/colors.css';


.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titleContainer svg {
    cursor: pointer;
}

.cardBodyContent {
    margin: 1rem 0 2rem 0;
}

.labelsContainer {
    width: 100%;
    margin: 0.5rem 0 1.5rem 0;
}

.labelsContainer > * {
    margin-right: 0.5rem;
}

.submissionCard:not(:last-child) {
    margin-bottom: 1rem;
}

.submissionCardTitleWithButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.memberAssessmentHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.memberEditingItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}



/* labels modal */
.labelModalColorRow {
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    cursor: pointer;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;

    padding: 0.5rem 1rem;
}

.labelModalColorRowEmpty {
    cursor: auto;
}

.labelModalColorRow:hover {
    opacity: 0.8;
}

.labelModalCreateColor {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-right: 0.5rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: white;

    padding: 0;
}

.labelModalCreateColor::before {
    content: "";
}

.labelModalCreateColor:hover {
    opacity: 0.8;
}

.dashedClip {
    border: 1px dashed rgba(0,0,0,.125);
    background-color: transparent;
}


/* add student modal */
.modalRow:not(:last-child) {
    margin-bottom: 1rem;
}