/* breadcrumbs */

.breadcrumbsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    padding: 1rem 0;
}

.breadcrumbsActive {
    color: #a2a7b0;
}

.breadcrumbsLink {
    color: #707580;
}

.breadcrumbsLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.breadcrumbsArrow {
    margin: 0 1rem;
    color: #c0c4c6;
}


/* button */
.buttonContainer {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.buttonContainer:hover {
    text-decoration: none;
}

.large {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}

.lightGreen {
    background-color: #2a9d8f;
    color: white;
}

.lightGreen:hover {
    background-color: #248578;
    color: white;
}

.darkGreen {
    background-color: #264653;
    color: white;
}

.darkGreen:hover {
    background-color: #1f3845;
    color: white;
}

/* card */
.cardContainer {
    border-radius: 0.5rem;

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #efeae9;
}

.cardBody {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}










