@value primary, secondary, ternary, primaryShade, lightGray from '../helpers/colors.css';

.container {
    padding: 2rem;
    width: 100%;
    background-color: lightGray;
}

.titleContainer {
    padding-bottom: 2rem;
}

.coursesContainer {
    width: 100%;
    display: block;
}

.ul {
    padding-inline-start: 0;
    display: flex;
}

.li {
    display: inline;
    list-style-type: none;
    padding-right: 1rem;
    float: left;
}

/* card */
.card {
    width: 22rem;
    min-height: 6rem;
}

.cardBodyContainer {
    display: grid;
    grid-template-columns: 85% 15%;
}

.cardButtonContainer {
    align-self: end;
}

.cardButtonContainer div {
    cursor: pointer;
    float: right;
    color: primary;
    transition: color 0.1s ease-in;
}

.cardButtonContainer div:hover {
    color: secondary;
}

.plainLink, .plainLink:hover {
    text-decoration: none;
    color: white;
}

.recentContainer {
    width: 100%;
    display: block;
}

.homeTasksContainer {
    width: 100%;
}

.cardBlock {
    display: block;
}

/* section */
.sectionTitle {
    margin: 2rem 0 1rem 0;
}