@value primary, secondary, ultraLightGray, ternary, quaternary, quinary, primaryShade, lightGray from '../helpers/colors.css';

.container {
    display: grid;
    grid-template-columns: 47% 47%;
    column-gap: 6%;
}

/* card */
.card {
    position:relative;
    width: 100%;
    margin-bottom: 1rem;

    min-height: 10rem;
}

.cardBodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardBodyContent {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.cardBodyTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cardContentType {
    font-size: 0.8rem;
}

.cardContentTypeCourse {
    color: secondary;
}

.cardContentTypeProject {
    color: quinary;
}

.cardButtonContainer {
    color: primary;
}

.cardBlock {
    display: block;
}

/* card empty */
.cardEmpty {
    width: 100%;
    text-align: center;
    border: 2px dashed rgba(0,0,0,.125);

    min-height: 10rem;
}

.emptyCardBodyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.emptyCardContentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptyCardContentIcon {
    color: secondary;
    margin-bottom: 1rem;
}