.projectContainer {
    padding: 2rem;
    width: 100%;
}

.titleContainer {
    margin-bottom: 1.2rem;
}

.sectionTitle {
    margin-bottom: 0.8rem;
}

.plainLink, .plainLink:hover {
    text-decoration: none;
    color: white;
}