@value primary, secondary, ternary, primaryShade, moderateGray, pinkishGray from '../helpers/colors.css';


/* sidebar */
.sidebar {
    position: fixed;
    height: 100%;

    top: 0;
    bottom: 0;
    left: 0;

    z-index: 69;

    width: 20rem;

    background-color: white;

    border-right: 1px solid pinkishGray;
    transition: all .1s ease-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*border-top-right-radius: 0.5rem;*/
    /*border-bottom-right-radius: 0.5rem;*/

    box-sizing: content-box;
}

.sidebarHidden {
    width: 4rem;
}

.sidebarHeader {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 1rem 3.6rem 1rem;
    transition: all .1s ease-out;
}

.sidebarHidden .sidebarHeader {
    justify-content: center;
}

.sidebarHeader img, .sidebarHeaderButton {
    cursor: pointer;
}

.sidebarHeader img {
    max-width:100%;
    max-height:100%;
}

.sidebarHeaderLeft {
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px;
}

.sidebarHeaderButton {
    color: #4c4c4c;
    /*transform: rotate(90deg);*/
}

.sidebarHidden .sidebarHeaderButton {
    transform: none;
}

.sidebarBody {
    margin-top: 1rem;
    padding: 1rem 0.5rem;
    transition: all .1s ease-out;
}

.sidebarBodyItem {
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    cursor: pointer;
    transition: all .1s ease-out;

    margin: 1rem 0;
}

.sidebarBody .sidebarBodyItem:hover {
    background-color: primaryShade;
    color: white;
}

.sidebarIcon {
    /*color: moderateGray;*/
}

.sidebarBody .sidebarBodyItem:hover .sidebarIcon {
    color: white;
}

.sidebarBodyItemActive .sidebarIcon {
    color: white;
}

.sidebarBodyItemActive {
    background-color: primary;
    color: white;
}

.sidebarBodyItemLeft {
    width: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px;
}

.sidebarBodyItemRight {
    margin-left: 1rem;
    font-weight: bold;
}

.sidebarHidden .sidebarBodyItem {
    /*justify-content: center;*/
}

.sidebarFooter {
    display: flex;
    flex-direction: row;
    align-items: center;

    /*background-color: #1f2328;*/
    /*border-top: 1px solid #e7eaee;*/
    height: 10rem;

    /*color: white;*/
}

.sidebarFooterInner {
    padding: 12px;
    transition: all .1s ease-out;
    width: 100%;
}

.sidebarFooter .sidebarBodyItem {
    border-radius: 0;
    padding: 0;
    cursor: default;
}

.sidebarFooter .sidebarBodyItemLeft {
    width: 40px;
    height: 40px;
    margin: 0;
}

.sidebarFooter img {
    border-radius: 50%;
    background-color: white;
    border: 2px solid primary;
}

.sidebarFooter .sidebarBodyItemRight {
    font-weight: normal;
    font-size: 1.2rem;
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;

    flex-wrap: nowrap;
}

.sideBarFooterSignOutButton {
    cursor: pointer;
}