@value primary, secondary, ternary, primaryShade, moderateGray, pinkishGray from '../helpers/colors.css';

/* sidebar */
.sidebar {
    position: fixed;
    height: 100%;

    top: 0;
    bottom: 0;
    left: 0;
    z-index: 69;

    overflow: hidden;

    background-color: white;

    border-right: 1px solid pinkishGray;

    border-collapse: separate;

    transition: width .1s ease-in-out;
    will-change: width;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: content-box;
}

.sidebarShown {
    width: 20rem;
}

.sidebarHidden {
    width: 4rem;
}

.sidebarHeader {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;

    padding: 2rem 1rem 3.6rem 1rem;
    transition: all .1s ease-out;
}

.sidebarHidden .sidebarHeader {
    justify-content: flex-end;
}

.sidebarHeader img, .sidebarHeaderButton {
    cursor: pointer;
}

.sidebarHeader img {
    max-width:100%;
    max-height:100%;
}

.sidebarHeaderLeft {
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px;
}

.sidebarHeaderButton {
    color: #4c4c4c;
}

.sidebarHidden .sidebarHeaderButton {
    transform: none;
}

.sidebarBody {
    margin-top: 1rem;
    padding: 1rem 0.5rem;
}

.sidebarBodyItem {
    padding: 0.5rem;
    font-size: 1.2rem;

    border-radius: 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;
    margin: 1rem 0;
}

.sidebarBodyItemHidden {
    visibility: hidden;
}

.sidebarBody .sidebarBodyItem:hover {
    background-color: rgb(11, 23, 34);
    color: white;
}

.sidebarBody .sidebarBodyItem:hover .sidebarIcon {
    color: white;
}

.sidebarBodyItemActive .sidebarIcon {
    color: white;
}

.sidebarBodyItemActive {
    background-color: #2f5d8a;
    color: white;
}

.sidebarBodyItemLeft {
    width: 26px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px;
}

.sidebarBodyItemRight {
    margin-left: 1rem;
    font-weight: bold;

    white-space: nowrap;
    flex-wrap: nowrap;
}

.sidebarHidden .sidebarBodyItem {
    /*justify-content: center;*/
}

.sidebarFooter {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 10rem;
    /*color: white;*/
}

.sidebarFooterInner {
    padding: 12px;
    width: 100%;
}

.sidebarFooter .sidebarBodyItem {
    border-radius: 0;
    padding: 0;
    cursor: default;

    align-items: center;
}

.sidebarFooter .sidebarBodyItemLeft {
    width: 40px;
    height: 40px;
    margin: 0;
}

.sidebarFooter img {
    border-radius: 50%;
    background-color: white;
    border: 2px solid primary;
}

.sidebarFooter .sidebarBodyItemRight {
    font-weight: normal;
    font-size: 1.2rem;
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.sideBarFooterSignOutButton {
    cursor: pointer;
}