@value primary, secondary, ternary, quaternary, quinary, ultraLightGray, primaryShade, lightGray, darkishGray, moderateGray from '../helpers/colors.css';

.titleContainer {
    margin-bottom: 2rem;
}

/* toolbar */
.toolbar {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid lightGray;
}

/*.toolbar > *:last-child {*/
/*    margin-left: 0.5rem;*/
/*}*/

.groupsSearchBar {
    width: 100%;
}

/* grader card */
.graderContainer {
    margin-bottom: 1rem;
}

.graderBodyContainer {

}

.graderHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*margin-bottom: 1rem;*/
}

.graderHeader h4 {
    margin: 0;
}

.graderHeaderButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.graderHeaderButtonContainer > button {
    margin-right: 0.5rem;
}

.collapseButton:hover {
    color: inherit;
    background-color: ultraLightGray;
}

.graderContent {
    /*margin-top: 1rem;*/
}

.graderBodyContainerCollapsed .graderContent {
    display: none;
}

.collapseButton svg {
    transform: rotate(180deg);
    transition: transform .1s ease-in-out;
}

.graderBodyContainerCollapsed .collapseButton svg {
    transform: rotate(0deg);
}

.graderSubmissionContainer {
    /*padding: 1rem;*/
    padding: 0.3rem 0.4rem 0.3rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;

    border: 1px solid moderateGray;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.graderSubmissionContainer > div:nth-child(1) {
    padding: 0.7rem 0;
}














