.container {
    padding: 2rem;
    width: 100%;
}

.titleContainer {
    margin-bottom: 1.2rem;
}

.projectsContainer {
    width: 100%;
    display: block;
}

.overviewContainer {
    width: 100%;
    display: block;
}

.statsContainer {
    width: 100%;
    display: block;
}

.sectionTitle {
    margin-bottom: 0.8rem;
}

.ul {
    padding-inline-start: 0;
    display: flex;
}

.li {
    display: inline;
    list-style-type: none;
    padding-right: 1rem;
    float: left;
}

.card {
    width: 18rem;
}

.cardImg {
    object-position: top center;
    object-fit: cover;
}


.plainLink, .plainLink:hover {
    text-decoration: none;
    color: white;
}
