@value primary, secondary, ternary, quaternary, quinary, primaryShade, lightGray from '../helpers/colors.css';

.container {
    padding: 2rem;
    width: 100%;
    background-color: lightGray;
}

/* section */
.sectionContainer {
    width: 100%;
    display: block;
}

.sectionTitle {
    margin: 2rem 0 1rem 0;
}

.sectionTitleH {
    margin: 0 1rem 0 0;
}

.sectionTitleButton {
    cursor: pointer;
    color: primary;
    transition: color 0.1s ease-in;
}

.sectionTitleButton:hover {
    color: secondary;
}

.titleContainer h2 {
    margin: 0;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.titleContainer span {
    margin-left: 1rem;
    font-size: 1.6rem;
    color: #a2a1a1;
}

.sectionTitleWithButton {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}









/*.projectsContainer {*/
/*    width: 100%;*/
/*    display: block;*/
/*}*/

/*.projectsToolBar {*/
/*    display: inline;*/
/*}*/

/*.projectsToolBarText {*/
/*    display: inline;*/
/*    margin-right: 1rem;*/
/*}*/

/*.projectsToolBarButton {*/
/*    display: inline;*/
/*}*/

.editProjectsModalCard {
    margin-bottom: 2rem;
}

.listGroupItemCustom {
    padding: .35rem 1rem;
}

.projectsList {
    max-height: 20vh;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow-y:hidden;
}

.projectsList:hover {
    overflow-y: scroll;
}

.overviewContainer {
    width: 100%;
    display: block;
}

.statsContainer {
    width: 100%;
    display: block;
}

.sectionTitle {
    margin-bottom: 0.8rem;
}

.ul {
    margin-top: 1rem;
    padding-inline-start: 0;
    display: flex;
}

.li {
    display: inline;
    list-style-type: none;
    padding-right: 1rem;
    float: left;
}

.card {
    width: 18rem;
}

.cardImg {
    object-position: top center;
    object-fit: cover;
}


.plainLink, .plainLink:hover {
    text-decoration: none;
    color: white;
}
