@value primary, secondary, ternary, quaternary, quinary, ultraLightGray, primaryShade, lightGray, darkishGray, moderateGray from '../helpers/colors.css';

.container {
    display: grid;
    grid-template-columns: 47% 47%;
    column-gap: 6%;
}

.container > * {
    grid-column: 1 / 2;
}



.editProjectsModalCard {
    margin-bottom: 2rem;
}

.listGroupItemCustom {
    padding: .35rem 1rem;
}

.projectsList {
    max-height: 20vh;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow-y:hidden;
}

.projectsList:hover {
    overflow-y: scroll;
}

.overviewContainer {
    width: 100%;
    display: block;
}

.statsContainer {
    width: 100%;
    display: block;
}

.sectionTitle {
    margin-bottom: 0.8rem;
}

.card {
    width: 18rem;
}



/* modal */
.modalContainer {
    padding: 2rem 2rem 1rem 2rem;
    max-height: calc(100vh - 3.5rem);
}

.modalHeaderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.modalHeaderContainer h2 {
    margin: 0;
}

.modalHeaderContainerButton {
    cursor: pointer;
    color: darkishGray
}

.modalDescriptionContainer {
    margin: 1rem 0;
}

.modalBodyContainer {
    overflow: scroll;
    max-height: 30rem;
}

.modalBodyContainerRow {
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;

    border: 1px solid moderateGray;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.modalBodyContainerRow span {
    margin-left: 0.5rem;
}

.modalBodyContainerRowActive {
    background-color: primary;
    color: white;
    border: 1px solid primary;
}

.modalFooterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    padding-top: 1rem;
    margin-top: 1rem;

    border-top: 1px solid lightGray;
}

.modalFooterContainerButtonGroup {

}

.modalFooterContainerButtonGroup > *:first-child {
    margin-right: 0.5rem;
}
