@value quinary from '../helpers/colors.css';

.screenContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.title {
    font-size: 3rem;
}

.title svg {
    color: quinary;
}

.text {
    margin-bottom: 2rem;
}