@value primary, secondary, ternary, quaternary, quinary, senary, senaryShade, ultraLightGray, primaryShade, lightGray, darkishGray, moderateGray from '../helpers/colors.css';


/* GENERAL */
.mainContainer {
    margin-top: 1rem;
}


/* OUTLINE */

.outlineContainer {
    /*height: 100%;*/
    /*overflow-y: scroll;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    position: relative;
    height: 100%;
    width: 100%;
    padding-right: 1rem;
}

.outlineContainerEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outlineBodyEmpty {
    text-align: center;
}

.outlineBodyEmpty button {
    margin: 0 0.5rem;
}

.outlineContainerEditingToolbar {
    height: 65px;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 1rem;
    position: relative;
}

.outlineContainerEditingToolbarBody {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.outlineContainerEditingToolbarBody > *:first-child {
    margin: 0 0.5rem 0 0;
}

.outlineContainerEditingToolbarBody h3 {
    /*font-size: 1.5rem;*/
    margin: 0;
}

.outlineContainer ul {
    padding: 0;
    list-style-type: none;
}

.outlineHeaderContainer {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem 0.5rem 0;
    border-left: 4px solid transparent;
}

.outlineHeaderContainerSelected {
    border-left: 4px solid primary;
}

.outlineHeaderContainer h3, .outlineHeaderContainer h5 {
    margin: 0;
}

.outlineHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 0.5rem;
    min-height: 65px;
}

.outlineHeaderButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.outlineHeaderButtonContainer > * {
    margin-left: 0.5rem;
}

.outlineHeaderContainerBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 0.5rem;
}

/* blocks of elements */
.outlineGroup {
    transition: all 1s ease-out;
}

.outlineGroupCollapsed {
    display: none;
}

/* elements */
.outlineElementContainer {
    height: 45px;
    border-left: 4px solid transparent;
    position: relative;

    /*border-bottom: 1px solid #dfdfdf;*/
    /*padding: 0.5rem 0.5rem 0.5rem 0;*/

    /*transition: height 0.1s ease;*/
}

.outlineElementContainerEditing {
    /*height: 60px;*/
}

.outlineElementContainerEditing {
    /*padding-right: 4rem;*/
}

.outlineElementContainerSelected {
    border-left: 4px solid primary;
}

.outlineElement {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    /*border-top: 1px solid #dfdfdf;*/
    /*padding: 0.5rem 0.5rem 0.5rem 0;*/

    white-space: nowrap;

    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.outlineElement::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.outlineElementLeft {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 0.5rem;
}

.outlineElementRight {
    position: absolute;
    right: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: #fafafa;
}

.outlineElementIcon {
    margin-right: 0.5rem;

    transform: rotate(0deg);
    transition: transform .1s ease-in-out;
}

.outlineElementIconRotated {
    transform: rotate(90deg);
}

.outlineElementText {
    font-size: 1.3rem;
}



/* EDITOR/VIEWER */
.viewer {
    position: sticky;

    /*height: calc(100% - 2rem);*/
    /*height: 100%;*/
    min-height: calc(100vh - 12rem);
    top: 7rem;

    margin: 0 0 2rem 1rem;

    display: flex;
    flex-direction: column;

    padding: 1rem;

    /*border-radius: 1rem 1rem 0 0;*/
    border-radius: 1rem;
}

.viewerContainer {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.viewerHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.viewerHeader h2 {
    margin: 0;
}

.viewerHeaderIcon {
    margin-left: 0.5rem;
    cursor: pointer;
}

.viewerHeaderIconGreen {
    color: primary;
}

.viewerHeaderIconOrange {
    color: quaternary;
}

.viewerHeaderIconOrange:hover {
    color: white;
}

.viewerHeaderIconGray {
    color: darkishGray;
    /*font-size: 1.5rem;*/
}

.viewerHeaderIconGray:hover {
    color: white;
}

.viewerHeaderIconRed {
    color: senary;
}

.viewerHeaderIconRed:hover {
    background-color: senaryShade;
}

.viewerBodyEmpty {
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewerBodyEmpty p {
    font-size: 1.5rem;
}

.viewerBodyEmpty svg {
    font-size: 3rem;
    margin-bottom: 1rem;
}


.viewerSectionContainer {
    margin: 2rem 0;
}

/*.viewerSectionContainer h4 {*/
/*    margin: 0;*/
/*    padding: 0.4rem 0;*/
/*}*/

/*.viewerSectionContainerIcon {*/
/*    margin-left: 0.5rem;*/
/*    color: primary;*/
/*    cursor: pointer;*/
/*}*/

/*.viewerSectionTitle {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    margin-bottom: 0.5rem;*/
/*}*/

.viewerSectionContainer input {
    /*box-sizing: border-box;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/

    /*cursor: text;*/
    /*padding: 6px 12px;*/

    /*width: 100%;*/
}

.viewerSectionContainerQuill :global(.MuiOutlinedInput-multiline) {
    padding: 0;
}

.viewerSectionContainerQuill :global(.ql-container.ql-snow), .viewerSectionContainerQuill :global(.ql-toolbar.ql-snow) {
    border: none;
}

:global(.ql-container) {
    font-size: 1rem !important
}

:global(.ql-picker) {
    z-index: 91;
}

.viewerSectionContainerField {
    width: 100%;
}









.viewerGradeSectionContainer input {
    /*width: 6rem;*/
}

/*.viewerGradeSectionContent {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*}*/

/*.viewerGradeSectionContent > div {*/
/*    margin-right: 0.5rem;*/
/*}*/

/*.viewerGradeSectionContent > div label {*/
/*    margin-right: 0.3rem;*/
/*}*/




/* rich text editor and toolbar */
.richTextEditor {
    /*box-sizing: border-box;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/

    /*border: solid 1px rgba(145, 158, 171, 0.32);*/
    /*border-radius: 8px;*/
    /**/
    /*cursor: text;*/
    /*padding: 6px 12px;*/
}

.richTextEditor :global(.public-DraftEditor-content) {
    min-height: 3rem;
}

.toolbar {
    margin-top: 0.5rem;
    visibility: hidden;
    /*transition: visibility 1s ease-in-out;*/
}

.editorFocused .toolbar {
    visibility: visible;
}

.toolbar .visible {
    margin-top: 0.5rem;
    visibility: visible;
}

.toolbar div {
    display: flex;
    flex-direction: row;
}

.toolbarButton {
    background-color: white;
    border: 1px solid #6c757d;
    border-radius: 4px;
    margin-right: 0.1rem;
}

.toolbarButton:hover {
    background-color: #6c757d;
}

.toolbarButton:hover > svg {
    fill: white;
}

.toolbarButton svg {
    fill: #6c757d;
}

.toolbarButtonWrapper {

}

.toolbarButtonActive {
    background-color: #6c757d;
}

.toolbarButtonActive svg {
    fill: white;
}